<mat-toolbar color="primary">

  <a
    mat-stroked-button
    routerLinkActive="active"
    routerLink="home"
    class="nav-link">
                          Home
  </a>
  <a
    mat-stroked-button
    routerLinkActive="active"
    routerLink="editor/65"
    class="nav-link">
                            Editor/65
  </a>
  <a
    mat-stroked-button
    routerLinkActive="active"
    routerLink="counter"
    class="nav-link">
                            Counter
  </a>

  <a
    mat-stroked-button
    routerLinkActive="active"
    routerLink="books"
    class="nav-link">
    Books
  </a>

  <a
    mat-stroked-button
    routerLinkActive="active"
    routerLink="page"
    class="nav-link">
    Page
  </a>
</mat-toolbar>


<router-outlet></router-outlet>




