<p>component-counter</p>
<button (click)="getMovies()">GetData()</button>

<h1 *ngIf="dataLoading$ | async"> IS LOADING...</h1>

<h1> dataLoading = {{dataLoading$ | async}}</h1>


<button (click)="increase()"
        class="fz-60 p-50 m-20">+1
</button>
<button (click)="decrease()"
        [disabled]="cannotDecrease$ | async"
        class="fz-60 p-50 m-20">-1
</button>
<button (click)="clear()"
        [disabled]="cannotDecrease$ | async"
        class="fz-60 p-50 m-20">=1
</button>

<p class="fz-60">Schetchik = {{count$ | async}}</p>

<p *ngIf="updatedAt$ | async">
  Обновлялось {{updatedAt$ | async | date:"HH:mm:ss dd/MM/yyyy"}}
</p>
