
.total-container {
  border: solid 1px;
  background: #ffd740;
  margin-bottom: 20px;
}

.list-container {
  border: solid 1px;
  margin-bottom: 20px;
  background: #777777;
}

.details-container {
  border: solid 1px;
  background: #d1b6b6;
}
