<mat-toolbar color="primary">

  <a
    class="nav-link"
    mat-stroked-button
    routerLink="home"
    routerLinkActive="active">
    Home
  </a>
  <a
    class="nav-link"
    mat-stroked-button
    routerLink="editor/65"
    routerLinkActive="active">
    Editor/65
  </a>
  <a
    class="nav-link"
    mat-stroked-button
    routerLink="counter"
    routerLinkActive="active">
    Counter
  </a>

  <a
    class="nav-link"
    mat-stroked-button
    routerLink="books"
    routerLinkActive="active">
    Books
  </a>

  <a
    class="nav-link"
    mat-stroked-button
    routerLink="page"
    routerLinkActive="active">
    Page
  </a>
</mat-toolbar>
